.post-list-item {
  display: flex;
}

.post-list-item__image {
  margin-right: 36px;
}

.post-list-item__title {
  font-family: "Space Mono";
  margin: 0 0;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: 700;
  color: black;
}

.post-list-item__game {
  font-family: "IBM Plex Sans";
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 1.1px;
}

.post-list-item__subtitle {
  font-family: "IBM Plex Sans";
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.54px;
  margin: 0 0;
}

.post-list-item__date {
  font-family: "IBM Plex Sans";
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
  letter-spacing: 1.1px;
}

.post-list-item__writer-name {
  color: rgb(232, 89, 78);
  font-size: 10px;
  letter-spacing: 1.1px;
  font-family: "IBM Plex Sans";
}

.post-list-item__writer-prefix {
  color: rgba(0, 0, 0, 0.6);
  font-family: "IBM Plex Sans";
  font-size: 10px;
  letter-spacing: 1.1px;
  display: inline;
}

.post-list-item__link {
  text-decoration: none;
}

.post-list-item__separator {
  background-color: rgb(216, 216, 216);
  margin-top: 46px;
  margin-bottom: 47px;
  height: 2px;
}
