.post-list-item {
  display: flex;
}

.post-list-item__image {
  margin-right: 10px;
}

.post-list-item__title {
  font-family: "Space Mono";
  font-size: 27px;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: 700;
  color: black;
}

.post-list-item__game {
  font-family: "IBM Plex Sans";
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 1.1px;
}

.post-list-item__subtitle {
  font-family: "IBM Plex Sans";
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.54px;
}

.post-list-item__date {
  font-family: "IBM Plex Sans";
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
  letter-spacing: 1.1px;
}

.post-list-item__writer-name {
  color: red;
  font-family: "IBM Plex Sans";
  font-size: 0.9rem;
}

.post-list-item__writer-prefix {
  color: grey;
  font-family: "IBM Plex Sans";
  font-size: 0.9rem;
  display: inline;
}

.post-list-item__link {
  text-decoration: none;
}

.post-list-item__separator {
  border: none;
  height: 2px;
  background-color: rgb(199, 199, 199);
}
