<h1>About Gamestegy</h1>
<p>
  Gamestegy.com is a webpage about game strategy, guides, tips and tricks. The
  webpage is new created at the beginning of 2020. But the aim is to create a
  community or even better communities for each game which would provide ways on
  how to better play games.
</p>

<p>
  As there are many websites similar to this we would like the community to
  drive the content and concentrate on providing a well maintained platform on
  where to create the gaming ideas.
</p>

<h3>Story</h3>
<p>
  Me, the founder zanuffas (Rokas Diedonis) really enjoy playing Video games. I
  was really pushed to create this idea, by playing Monster Hunter World. The
  sheer amount of knowledge you need to have to play the game effectively was
  amazing. I love to share my knowledge with others and I would like other same
  minded people do this. In the end I think that games are now becoming new
  sports where just playing is not enough and you have to push yourself to the
  limit to make the games satisfying.
</p>

<p>
  I am also a developer, and I am spending most of my time building the website
  with new features. So if you have any ideas for features please go to Contact
  form and write me a mail!
</p>
