<h1>Contact address</h1>

<p>
  We would like to hear your opinion on the website! Moreover, if you have ideas
  on how to improve the experience or want new games to be included contact us:
</p>

<p>
  Email:
  <a href="mailto:administration@gamestegy.com">adminsitration@gamestegy.com</a>
</p>
