<div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Create Account</h4>
    <p class="text-center">Get started with your account</p>

    <form>
      <!-- Username  -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input
          name="username"
          class="form-control"
          placeholder="Username"
          type="text"
          value="<%= typeof username != 'undefined' ? username : '' %>"
        />
      </div>

      <!-- Email -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input
          value="<%= typeof email != 'undefined' ? email : '' %>"
          name="email"
          class="form-control"
          placeholder="Email address"
          type="email"
        />
      </div>

      <!-- Password 1 -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
          value="<%= typeof password1 != 'undefined' ? password1 : '' %>"
          title="Minimum eight characters, at least one uppercase letter, one lowercase letter and one number"
          minlength="8"
          name="password1"
          class="form-control"
          placeholder="Create password"
          type="password"
          id="password1"
        />
      </div>

      <!-- Password 2 -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
          value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          title="Minimum eight characters, at least one uppercase letter, one lowercase letter and one number"
          minlength="8"
          name="password2"
          class="form-control"
          placeholder="Repeat password"
          type="password"
        />
      </div>

      <!-- Submit button -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">
          Create Account
        </button>
      </div>
      <% include ./partials/alerts %>
      <p class="text-center">
        Have an account? <a href="/users/login">Sign In</a>
      </p>
    </form>

    <div class="alert-list"></div>
  </article>
</div>

<script>
  const form = document.querySelector("form");
  form.addEventListener("submit", async function(e) {
    e.preventDefault();
    const formData = new FormData(form);
    const alertList = document.getElementsByClassName("alert-list")[0];
    const response = await postData("/register", formData);
    console.log(response);
    if (response.status === "error") {
      createAlert(alertList, response.message, "alert alert--wrong");
    } else if (
      Object.entries(response).length === 0 &&
      response.constructor === Object
    ) {
      createAlert(
        alertList,
        "Verification email has been sent",
        "alert alert--success"
      );
      form.reset();
    }
  });
</script>
