.navbar {
  height: 80px;
  background-color: white;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.navbar__user-singin {
  font-family: "IBM Plex Sans";
  font-size: 14px;
  letter-spacing: 0.61px;
  color: rgba(28, 46, 61, 0.7);
  margin-right: 24px;
  text-decoration: none;
}

.navbar__user-register-box {
  width: 116px;
  height: 36px;
  background-color: rgb(232, 89, 78);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
}
.navbar__user-register-box-text {
  font-size: 12px;
  letter-spacing: 2.18px;
  color: white;
  font-weight: 700;
  font-family: "IBM Plex Sans";
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar__menu-link {
  font-family: "IBM Plex Sans";
  text-decoration: none;
  color: grey;
  font-size: 0.9rem;
  padding-right: 15px;

  &:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
  }
}

.navbar__search {
  margin-left: auto;
  margin-right: 2%;
}

.navbar__logo {
  padding-right: 40px;
}

.navbar__user-dashboard {
  width: 50px;

  &-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  &:hover & {
    &-content {
      display: block;
    }
  }
}

$color: #000;
