.navbar {
  height: 80px;
  background-color: white;
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar__menu-link {
  font-family: "IBM Plex Sans";
  text-decoration: none;
  color: grey;
  font-size: 0.9rem;
  padding-right: 15px;

  &:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
  }
}

.navbar__search {
  margin-left: auto;
  margin-right: 2%;
}

.navbar__logo {
  padding-right: 40px;
}

.navbar__user-dashboard {
  width: 50px;

  &-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  &:hover & {
    &-content {
      display: block;
    }
  }
}

$color: #000;
