/* The alert message box */
.alert {
  /* Red */
  color: white;
}
.alert--success {
  background-color: green;
}

.alert--wrong {
  background-color: #f44336;
}

/* The close button */
.alert__closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.alert__closebtn:hover {
  color: black;
}
